* {
  /*font-family:Dosis,sans-serif;font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;*/
  font-family: NewHelvetica-Regular;
  font-size: 1rem;
}
h1,h2,h3,h4,h5,h6{
  font-family: Oliwe !important;
}
p{
  font-family: NewHelvetica-Regular !important;
  font-size:1rem;
}
.card-title{
  font-size: 1.2rem !important;
}
.navbar-brand{
  font-family: Visage_Bold !important;
}
strong{
font-family: NewHelvetica-Regular !important;
font-size: 1.1rem;
}
a,
a:hover,
a:active {
  text-decoration: none;
  color: black;
}
.wrapper {
  margin-top: 2%;
}
.nav-link {
  font-weight: 500;
}
.hero {
  filter: blur(1px);
  min-height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  min-height: 100vh;
  transition: 1s;
  /*overflow-y: scroll;
  /*-ms-overflow-style: none; /* IE and Edge */
  /*scrollbar-width: none; /* Firefox */
}
.post-img {
  min-height: 240px;
  max-height: 240px;
}
.div_ad {
  min-height: 150px;
}
body::-webkit-scrollbar {
  /*overflow-y: scroll;
  display: none;*/
  width:  7px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 7px grey; 
  border-radius: 3px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #0e2a39;
  box-shadow:  20px 20px 60px #0c2430, 
               -20px -20px 60px #103042;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0e2a39;
  background: #0e1316;
  box-shadow:  20px 20px 60px #0c1013, 
             -20px -20px 60px #101619;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
#footer {
  bottom: 0;
  width: 100%;
  /* Footer height */
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 5px;
}

.slider.round:before {
  border-radius: 5%;
}
.author {
  filter: blur(0.2px);
  clip-path: circle(50% at center);
  width: 60px;
  height: 60px;
}
.form-control {
  margin-top: 10px;
  margin-bottom: 10px;
  clear: both;
}
.card-gap {
  margin-top: 10px;
  margin-bottom: 10px;
  clear: both;
}
.p-wrap {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card-login,
.card-inner {
  padding: 40px;
}
.card-login {
  margin-top: 30%;
  margin-bottom: 100%;
}
.force-bottom {
  margin-bottom: 32%;
}
.copyright-div {
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.ad {
  max-width: 100%;
}
.post-hero.lazy {
  background-image: none;
  background-color: #191919;
  
}
.gallery-img{
  min-height: 150px;
  max-height: 150px;
  overflow: hidden;
}
.gallery-img img {
  min-width:100%;
}
.delete_gallery_img{
  animation-timing-function: ease-out;
  animation-duration: 5s;
}
.choose-img{
  cursor: pointer;
}
.delete_gallery_img:hover{
  box-shadow:  4px 4px 34px #ef6464, 
             -4px -4px 34px #f36666;
}
.post-hero {
  min-height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.comment-div {
  margin-bottom: 20px;
}
.card-comment {
  padding: 10px;
  margin-top: 5px;
}
.card {
  overflow: hidden;
  white-space: initial;
  text-overflow: ellipsis;
  transition: 0.6s;
}
.card:hover {
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
}
#adsense-code {
  resize: none;
}
#post-slug {
  text-transform: lowercase;
}
.analytics-card {
  padding: 20px;
}
#author-data-save {
  transition: 0.4s;
}
.post-card {
  min-height: 400px;
  max-height: 400px;
}
.div_ad img {
  max-width: 100%;
}
.contact-form {
  padding: 40px;
}
.contact-body {
  margin-top: 10%;
  margin-bottom: 20%;
}
#post-font a:link{
  color: orange !important;
  text-decoration: underline !important;
}
.microlight {
  font-family : monospace;
  white-space : pre;
  background-color : #C4E4E8 !important;
  color            : #052C36 !important;    
}